*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu-h{
    list-style: none;
    padding: 0;
    background-color: blueviolet;
}

#menu-h li{
    display: inline;
}

#menu-h li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;

}

#menu-h li a:hover{
    background-color: #c21d72;

}

#ProjectsRunnig li{
    display: inline-block;
    padding: 50px 30px 10px 80px;
    border: 1px solid black;
}

#ProjectsRunnig{
    margin-top: 10%;
    margin-left: 20%;
}